body {
  font-family: "Poppins" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 21px !important;
  letter-spacing: -0.103101px;
}

.full-height {
  height: 100vh;
}

.white {
  color: white !important;
}

.main-panel {
  position: relative;
  float: right;
  width: calc(100% - 0px);
  height: calc(100vh - 56px);
}

.main-panel .content {
  padding: 30px 15px;
  height: 100%;
}

.v-overlay--active {
  pointer-events: auto;
  -ms-touch-action: none;
  touch-action: none;
}

.v-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  -webkit-transition: .3s cubic-bezier(.25,.8,.5,1);
  transition: .3s cubic-bezier(.25,.8,.5,1);
  z-index: 201;
  background-color: 212121;
  opacity: .46;
}

.v-overlay:before {
  background-color: #212121;
  content: "";
  height: 100%;
  position: absolute;
  -webkit-transition: inherit;
  transition: inherit;
  -webkit-transition-delay: .15s;
  transition-delay: .15s;
  width: 100%;
}