body {
  font-family: "Poppins" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 21px !important;
  letter-spacing: -0.103101px;
}

.full-height {
  height: 100vh;
}

.white {
  color: white !important;
}